*.o
/similar
*.*~
buscaR/
BDR/
/udrdomal.jpg
/tex/buscaR
/tex/DBR
/tex/presentation.toc
/tex/presentation.log
/tex/presentation.dvi
/tex/presentation.bm
/tex/presentation.aux
/tex/Ep1.aux
/tex/Ep1.log
/tex/Ep1.pdf
/tex/presentation.pdf
